.heroCustom {
  background-color: white; 
  color: black;
  padding: 2rem 0.5rem;
  border-radius: 8px;
  font-size: 3rem; /* Increased font size */
}


.subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
}



.card {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.7);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%; /* make cards equal height */
  transition: transform 0.2s ease;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 2px 2px #001f3f;
}
 

.cardIcon {
  font-size: 48px;
  color: #0078d7; 
  margin-bottom: 16px;
}



.cardTitle {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1.25rem;
  min-height: 2.5em; 
  text-align: center;
}


.cardText {
  color: #111;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 6.5em; 
  text-align: center;
}


.footer {
  background-color: #001f3f; /* Deep Blue */;
  color: #f1f1f1;
  padding: 3rem 0 2rem;
}


.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}


.footerColumn {
  flex: 1;
  min-width: 220px;
}


.footerColumn h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}


.footerColumn p,
.footerColumn li {
  font-size: 0.95rem;
  color: #cccccc;
  margin-bottom: 0.5rem;
}


.footerLinks {
  list-style: none;
  padding: 0;
}


.footerLinks li a {
  text-decoration: none;
  color: #cccccc;
}


.footerLinks li a:hover {
  color: #ffffff;
  text-decoration: underline;
}


.footerBottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #999;
}





/* Dark theme */


html[data-theme='dark'] .heroCustom {
  background-color: #1e1e1e; 
  color: white;
}


html[data-theme='dark'] .subtitle {
  color: #cccccc;
}


html[data-theme='dark'] .card {
  background-color: #000c1a !important;
  border: 1px solid white !important;
}


html[data-theme='dark'] .cardTitle,
html[data-theme='dark'] .cardText {
  color: white !important;
}


html[data-theme='dark'] .footer {
  background-color: #000c1a; 
  color: #f1f1f1;
}


html[data-theme='dark'] .footerColumn h4 {
  color: #ffffff;
}


html[data-theme='dark'] .footerColumn p,
html[data-theme='dark'] .footerColumn li {
  color: #aaaaaa;
}


html[data-theme='dark'] .footerLinks li a {
  color: #aaaaaa;
}


html[data-theme='dark'] .footerLinks li a:hover {
  color: #ffffff;
}


html[data-theme='dark'] .footerBottom {
  color: #777;
  border-top: 1px solid #444;
}



















